*{
	margin: 0;
    font-family: 'Lato', sans-serif;
}
.MainContent{
	
	background: url(../img/fon1.png);
	width: 100%;
	height: 800px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

}
.header{
	height: 100px;
	background-color: #47515a;
	opacity: 0.7;
}
.headerFon{
	height: 100px;
	margin: auto;
	width: 1170px;
}
.LogoCompany{
	width: 50%;
	float: left;
	height: 100px;
	line-height: 100px;
	padding-left: 50px;
	box-sizing: border-box;
	font-size: 20px;
	color: #fff;
}
.navigation{
	width: 50%;
	float: right;
	height: 100px;
	box-sizing: border-box;
	line-height: 100px;
	padding-left: 150px;
}
.E{
	color: #4cc9ff;
}
ul.hr li {
    display: inline;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-size: 10px; 
    font-weight: 700;
     border: 1px solid #47515a;
     cursor: pointer;
   }
ul.hr li:hover{
	color: #4cc9ff;
    border: 1px solid #4cc9ff;
    cursor: pointer;
}
.content{
	text-align: center;
	margin: auto;
	width: 1170px;
	height: 200px;
	padding-top: 200px;

}


.ContentText{
	font-size: 30px;
	color: #fff;
	line-height: 70px;
	font-weight: lighter;
	background-color: #47515a;
	opacity: 0.8;
}
.servicesBlock{
	margin: auto;
	background-color: #4cc9ff; 
}

.services{
	height: 405px;
	background-color: #4cc9ff; 
	color: #fff;
	box-sizing: border-box;
	margin: auto;
	width: 1170px;
	font-weight: lighter;
	padding-top: 40px;
}
.services h1{
	font-weight: 300;
}
svg{
	height: 10px;
}
.ServicesMenu{
	margin: auto;
	width: 1170px;
	box-sizing: border-box;
}
.Block1, .Block2, .Block3, .Block4{

	height: 200px;
	width: 24%;
	display: inline-block;
/*	padding-top: 10px;*/
	padding-left:15px;
	box-sizing: border-box;
	padding-top: 10px;

}
.h2page1{
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 20px;
}
.par{
	font-size: 12px;
}

/*Вторая страница*/

.contentPage2{
	width: 100%;
	height: 844px;
	/*background-color: red;*/
	
}
.content2, .content3, .content4, .content5, .content6, .content7, .content8{
	width: 1170px;
	margin: 0 auto;
}
.navigation2{
	height: 126px;
	background-color: #fff;
	position: relative;
}
.SerPortfolio{
	width: 50%;
	float: left;
}
.SerPortfolio h2{
	color: #515f67;
	font-weight: 300;
	padding-top: 80px;
	font-size: 22px;
}
.liportfolio{
	float: right;
	width: 50%;
	height: 126px;
	padding-top: 91px;
	padding-left: 170px;
	box-sizing: border-box;

}
.liportfolio .nav2 ul.hr li{
	color: #515f67;
	border: 1px solid #FFf;
	font-weight: 900;
	cursor: pointer;
}

.liportfolio .nav2 ul.hr li:hover{
	color: #4cc9ff;
	border: 1px solid #4cc9ff;
	cursor: pointer;
}
.photoblock{
	position: absolute;
	box-sizing: border-box;
	padding-top: 80px;

}
.string1, .string2{
	height: 270px;
	margin-top: 20px;
}
.photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8{
	width: 270px;
	height: 270px;
	display: inline-block;
	float: left;
	background-color: ;
	margin: 0;
	margin-left: 20px;
	transition: 0.5s;
	cursor: pointer;

} 
.photo1{
	background-image: url(../img/photo1.png);
}

.photo2{
	background-image: url(../img/photo2.png);
}
.photo3{
	background-image: url(../img/photo3.png);
}
.photo4{
	background-image: url(../img/photo4.png);
}
.photo5{
	background-image: url(../img/photo5.png);
}
.photo6{
	background-image: url(../img/photo6.png);
}
.photo7{
	background-image: url(../img/photo7.png);
}
.photo8{
	background-image: url(../img/photo8.png);
}

.photo1:hover{
	background-image: url(../img/hover1.png);
}
.photo2:hover{
	background-image: url(../img/hover2.png);
}
.photo3:hover{
	background-image: url(../img/hover3.png);
}
.photo4:hover{
	background-image: url(../img/hover4.png);
}
.photo5:hover{
	background-image: url(../img/hover5.png);
}
.photo6:hover{
	background-image: url(../img/hover6.png);
}
.photo7:hover{
	background-image: url(../img/hover7.png);
}
.photo8:hover{
	background-image: url(../img/hover8.png);
}

/*часть 3*/

.contentPage3{
	width: 100%;
	height: 400px;
	background-color: #515f67;
	position: relative;
}
.content3Info{
	width: 50%;
	float: left;
	height: 100%;
	padding-top: 80px;
}
.just h2{
	color: #fff;
	font-weight: 100;
}
.textInfo{
	color: #fff;
	font-size: 14px;
	font-weight: 100;
	padding-top: 20px;
}
.justborder{
	border: 2px solid #353f46;
	height: 40px;
	width: 120px;
	line-height: 40px;
	text-align: center;
	color: #353f46;
	margin-top: 40px;
	cursor: pointer;
}
.justborder:hover{
	border: 5px solid #FFF;
	color: #fff;
	cursor: pointer;
}
.content3Video{
	float: right;
	background-image: url(../img/fotovideo.png);
	width: 560px;
	height: 310px;
	box-sizing: border-box;
	margin-top:60px;
}

/*часть 4*/
.contentPage4{
	width: 100%;
	height: 300px;
	background-color: #4bcaff;
	position: relative;
}
/*.twpParagraph{
	color: #fff;
	font-size: 26px;
	font-weight: 100;
	position: absolute;
	box-sizing: border-box;
	padding-top: 153px;
}*/
.twitter, .contact,.TESTMONIALS{
	padding-top: 80px;
}
.twitter h2{
	color: #fff;
	font-weight: 100;
}

.cheesecake{
	font-weight: 600;
	padding-right: 5px;
}
.twpParagraph{
	color: #fff;
	font-size: 26px;
	font-weight: 100;
	position: absolute;
	box-sizing: border-box;
	padding-top: 30px;
	line-height: 1.7;
}

/*часть 5*/
.contentPage5{
	width: 100%;
	height: 505px;
	background:url(../img/bgcontent5.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	
}
.content5left{
	width: 50%;
	height: 505px;
	float: left;
	box-sizing: border-box;
	padding-top: 80px;
	color: #fff;
}
.content5left h2{
	font-weight: 400;

}
.content5right{
	width: 50%;
	height: 505px;
	float: right;
	box-sizing: border-box;
}

.pC5left{
	padding-top: 51px;
	font-weight: 100;
	font-size: 13px;
}

.content5right p{
	padding-top: 173px;
	font-weight: 100;
	font-size: 13px;
	color: #fff;
}
.socialIcon{
	padding-top: 36px;
}
.socialIcon img{
	 cursor: pointer;
	 border: 2px solid #fff;
}
.socialIcon img:hover{
	cursor: pointer;
	 border: 2px solid #4cc9ff;
}
.firstimg{
	margin-left: 20px;
}

/*часть 6*/
.contentPage6{
	width: 100%;
	height: 360px;
	
}

.TESTMONIALS h2{
	color: #515f67;
	font-weight: 100;
}
.testpParagraph p{
	color: #515f67;
	font-size: 23px;
	font-weight: 300;
	position: absolute;
	box-sizing: border-box;
	padding-top: 30px;
	line-height: 1.7;
}
.TextWalter{
	color: #515f67;
	font-size: 23px;
	font-weight: 300;
	padding-top: 100px;
}
/*часть 7*/
.contenrPage7{
	width: 100%;
	height: 814px;
	background: url(../img/bgcontact.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

}

.contact h2{
	color: #fff;
	font-weight: 200;
}
.contactleft{
	width: 50%;
	float: left;
	height: 200px;
	box-sizing: border-box;
	padding-top: 20px;
}
.contactright{
	width: 50%;
	float: right;
	height: 200px;
	box-sizing: border-box;
	padding-top: 40px;
}
label{
	color: #fff;
	font-size: 9px;
}
.contactleft input{
	width: 470px;
	height: 60px;
	background-color: transparent;

}
.contactright p{
	color: #fff;
	font-weight: 200;
	font-size: 11px;
	line-height: 1.5;
}
.contactrightP2{
	box-sizing: border-box;
	padding-top: 20px;
}
.inputArea textarea{
	background-color: transparent;
	border		: 2px solid #fff;
}

.contactbuttom{
	box-sizing: border-box;
	padding-top: 40px;
}
.contactbuttom button{
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	background: #4BCAFF;
	transition: all 0.3s;
	font-weight: 500;
	border: none;
	cursor: pointer;
	outline: none;
}
.contactbuttom button:hover{
	 border: 2px solid #fff;
}
/*часть 8*/
.contentPage8{
	width: 100%;
	height: 170px;
	background-color: #353f47;
}
.leftfooter{
	width: 50%;
	height: 170px;
	box-sizing: border-box;
	line-height: 170px;
	float: left;
}
.rightfooter{
	width: 50%;
	height: 170px;
	box-sizing: border-box;
	line-height: 170px;
	float: right;
}
.footernav ul li {
	display: inline-block;
	font-size: 10px;
	font-weight: 500;
	padding-left: 3px;
	cursor: pointer;
}
.footernav ul li a{
	text-decoration: none;
	color: #515f67;
}
.rightfooter p{
	color: #515f67;
	font-size: 10px;
	font-weight: 500;
	padding-left: 60%;
}



